@use "./imports"; // Import SCSS partials

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select {
    border: 1px solid rgb(226 232 240);
    padding: 5px;
    opacity: 0.8;
    width: 100%;
    border-radius: 5px;
  }

  .input {
    width: 100%;
    border: 1px solid rgb(226 232 240);
    padding: 4px;
    margin-top: 5px;
    border-radius: 5px;
  }

  .common_Card {
    background: #ebedf766;
    border-radius: 12px;
    padding: 15px 18px;
    -webkit-box-shadow: 2px 4px 39px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 39px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 39px -24px rgba(0, 0, 0, 0.75);
  }

  .hover-fill {
    position: relative;
    background-color: #06ADB1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(to right, #06ADB1 0%, #06ADB1 50%, rgba(161, 236, 224, 0.568) 50%, rgba(161, 236, 224, 0.568) 100%);
    background-size: 200% 100%;
    transition: background-position 0.3s;

    &:hover {
      background-position: -100% 0;
    }
  }

  .slider-container {
    position: relative;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  /* Google Translate styles */
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }

  .goog-te-menu-value {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .goog-te-menu2 {
    max-width: none !important;
    overflow: visible !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
  }

  .goog-te-menu2-item {
    padding: 5px 10px;
  }

  .goog-te-menu2-item:hover {
    background-color: #f0f0f0;
  }

  .cursor-pointer2 {
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }

  .cursor-pointer2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease-out, width 0.3s ease-out;
  }

  .cursor-pointer2:hover::after {
    background-position: left bottom;
    width: 100%;
  }

  #pagination-first-page svg,
  #pagination-last-page svg,
  #pagination-previous-page svg,
  #pagination-next-page svg {
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  }

  .custom-popup {
    width: 1000px;
    height: 700px;
  }
}